# Nettoyage des données

In [3]:
import os
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [5]:
df_occupations = pd.read_table("query_occupations.csv", delimiter =",") 
print(df_occupations.head())

     itemLabel         occupationLabel
0  Jules César                écrivain
1  Jules César                   poète
2  Jules César  personnalité politique
3  Jules César               dirigeant
4  Jules César          chef militaire

In [6]:
df_bio = pd.read_table("query_bio.csv", delimiter =",") 
print(df_bio.head())

        itemLabel praenomenLabel nomenLabel cognomenLabel gensLabel sexeLabel  \
0         Laurent            NaN        NaN           NaN       NaN  masculin
1   Constantin II            NaN   Claudius  Constantinus   Claudii  masculin
2        Valérien            NaN        NaN           NaN       NaN  masculin
3  Pline le Jeune          Caius  Caecilius      Secundus  Caecilii  masculin
4  Pline le Jeune          Caius    Plinius      Secundus  Caecilii  masculin

         date_naissance lieu_naissanceLabel             date_mort  \
0  0500-01-01T00:00:00Z                 NaN  0507-01-01T00:00:00Z
1  0316-02-01T00:00:00Z               Arles  0340-04-01T00:00:00Z
2  0200-01-01T00:00:00Z                 NaN  0260-01-01T00:00:00Z
3  0061-01-01T00:00:00Z                Côme  0113-01-01T00:00:00Z
4  0061-01-01T00:00:00Z                Côme  0113-01-01T00:00:00Z

  lieu_mortLabel       pereLabel mereLabel
0           Rome             NaN       NaN
1        Aquilée  Constantin Ier    Fausta
2      Bishapour             NaN       NaN
3       Bithynie             NaN       NaN
4       Bithynie             NaN       NaN

In [7]:
df_oeuvres = pd.read_table("query_oeuvres.csv", delimiter =",") 
print(df_oeuvres.head())

                                         oeuvreLabel       auteurLabel  \
0  Abrégé des Histoires philippiques de Trogue Po...            Justin
1                                     Noctes Atticae        Aulu-Gelle
2                                        Diatessaron  Tatien le Syrien
3                              Address to the Greeks  Tatien le Syrien
4                                       Controverses  Sénèque l'Ancien

                   titre    genreLabel
0                    NaN           NaN
1         Noctes Atticae      Q1009974
2                    NaN           NaN
3  Ἐπιστολὴ πρὸς Ἕλληνας           NaN
4                    NaN  controversia

In [8]:
df_positions = pd.read_table("query_positions.csv", delimiter =",") 
print(df_positions.head())

     itemLabel     positionLabel
0  Jules César            consul
1  Jules César           préteur
2  Jules César          questeur
3  Jules César  pontifex maximus
4  Jules César         dictateur

In [11]:
df_oeuvres.replace({"NaN":None, "Q1009974":None})

,oeuvreLabel,auteurLabel,titre,genreLabel
0,Abrégé des Histoires philippiques de Trogue Po...,Justin,NaN,NaN
1,Noctes Atticae,Aulu-Gelle,Noctes Atticae,None
2,Diatessaron,Tatien le Syrien,NaN,NaN
3,Address to the Greeks,Tatien le Syrien,Ἐπιστολὴ πρὸς Ἕλληνας,NaN
4,Controverses,Sénèque l'Ancien,NaN,controversia
...,...,...,...,...
130,Pasteur d'Hermas,Hermas,NaN,NaN
131,Vie d'Apollonios de Tyane,Philostrate d'Athènes,Τὰ ἐς τὸν Τυανέα Ἀπολλώνιον,biographie
132,Distiques de Caton,Dionysius Cato,NaN,poésie didactique
133,Sur les maladies aiguës et les maladies chroni...,Caelius Aurelianus,De morbis acutis et chronicis,NaN
134,Lives of the Sophists,Philostrate d'Athènes,NaN,NaN