## Requêtes SQL

### 1) Tous les empereurs romains

```sql
SELECT DISTINCT personne.id, personne.nom_fr, date_naissance, date_mort
FROM personne
INNER JOIN poste ON personne.id = poste.personne_id 
WHERE poste.poste = 'empereur romain'
ORDER BY date_mort
```

### 2) Toutes les femmes d'empereurs romains

```sql
SELECT DISTINCT p2.id, p2.nom_fr AS "Impératrice", personne.nom_fr AS "Empereur"
FROM personne
INNER JOIN poste ON personne.id = poste.personne_id
INNER JOIN mariage ON personne.id = mariage.id_mari
INNER JOIN personne p2 ON mariage.id_epouse = p2.id
WHERE poste.poste = 'empereur romain'
```

### 3) Les familles les plus nombreuses

```sql
SELECT DISTINCT personne.gens, COUNT(*)
FROM personne
GROUP BY personne.gens
ORDER BY COUNT(*) DESC
```

### 4) Les familles les plus nombreuses parmi les sénateurs notables

```sql
SELECT DISTINCT personne.gens, COUNT(*)
FROM personne
INNER JOIN poste ON personne.id = poste.personne_id
WHERE poste.poste = 'sénateur romain'
GROUP BY personne.gens
ORDER BY COUNT(*) DESC
```

### 5) Nombre d'individus recensés par sexe

```sql
SELECT DISTINCT personne.sexe, COUNT(*)
from personne
group by personne.sexe
order by count(*) desc
```

### 6) A la recherche de l'individu intersexué

```sql
SELECT personne.id, personne.nom_fr, personne.sexe, personne.date_naissance,
personne.date_mort, activite.activite
FROM personne
inner JOIN activite ON activite.personne_id=personne.id
WHERE personne.sexe = 'intersexuation';
```